<body id="top">

  <!-- header 
   ================================================== -->
  <header>

    <div class="row">
      <div class="logo">
        <a href="index.html">Quark Solutions</a>
      </div>

      <div class="social-links">
        <ul>
          <li>
            <a [attr.href]="linkedinUrl" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </header>
  <!-- /header -->

  <!-- home
   ================================================== -->
  <section id="home" class="home-particles">
    <canvas class="pg-canvas" style="display: block;" width="770" height="800"></canvas>
    <div class="shadow-overlay"></div>

    <div class="content-wrap-table">

      <div class="main-content-tablecell">

        <div class="row">
          <div class="col-twelve">

            <div id="counter">
              <div class="half">
                <span>{{_days}}
                  <sup>days</sup>
                </span>
                <span>{{_hours}}
                  <sup>hours</sup>
                </span>
              </div>
              <div class="half">
                <span>{{_minutes}}
                  <sup>mins</sup>
                </span>
                <span>{{_seconds}}
                  <sup>secs</sup>
                </span>
              </div>
            </div>
          </div>
          <!-- /twelve -->
          <!-- /scroll-icon -->
        </div>
        <!-- /row -->
      </div>
      <!-- /main-content -->
    </div>
    <!-- /content-wrap -->
  </section>
  <!-- /home -->

  <div id="preloader">
    <div id="loader"></div>
  </div>
</body>